* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html {
  overflow-x: hidden;
}

@media (min-width: 320px) and (max-width: 375px) {
  nav {
    position: relative;
    z-index: 13;
  }

  .navbar .collapse ul {
    position: absolute;
    right: 10%;
  }
  .navbar .collapse ul li {
    padding-right: 48px;
  }

  .carousel-mobile {
  }

  /* .carousel-tablet {
  position: relative;
  z-index: -2;
  top: -120px;
} */
  .carousel-tablet {
    height: 709px;
  }
  /* 
.carousel-tablet .carousel-item .box-info {
  width: 50%;
  position: relative;
  top: -55vh;
  bottom: 55vh;
  margin-left: 74px;
}

.carousel-tablet .carousel-item .header {
  font-size: 20px;
  font-weight: 600;
  color: #beb0b0;
}

.carousel-tablet .carousel-item .title {
  font-size: 50px;
  font-weight: 800;
  font-family: "Noto", serif;
  font-style: italic;
  color: #3a3939;
} */
}

/* Mobile S */
@media (min-width: 320px) and (max-width: 375px) {
  .navbar {
  }
  .navbar .container .logo {
    display: none;
  }

  .navbar .navbar-nav .nav-link {
    padding: 30px 0;
    text-align: center;
    font-weight: 600;
  }

  .carousel-tablet {
    display: none;
  }

  .carousel-mobile .carousel-item .header {
    margin-top: -120px;
    margin-left: 15px;
    font-size: 12px;
    font-family: "Inter", sans-serif;
    color: #beb0b0;
  }

  .carousel-mobile .carousel-item .title {
    width: 150px;
    font-size: 18px;
    font-family: "Noto", serif;
    font-style: italic;
    font-weight: 600;
    color: #3a3939;
    margin-left: 15px;
  }
  .carousel-mobile .carousel-item .subheader {
    width: 250px;
    font-size: 12px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #beb0b0;
    margin-left: 15px;
    padding-bottom: 26px;
  }

  .main {
    margin-top: 44px;
    padding: 0 33px;
    box-sizing: border-box;
  }
  .main .container .main-title-content-home {
    width: 80%;
    margin: auto;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    color: #3a3939;
  }

  .main .container .sub-title-content-home {
    font-size: 14px;
    text-align: center;
    color: #beb0b0;
  }

  .main .container .card-content {
    padding: 0 0;
    margin-top: 38px;
    box-sizing: border-box;
    overflow: hidden;
  }

  .main .container .card-content .row:nth-child(2) {
    padding: 67px 0;
    box-sizing: border-box;
  }

  .main .container .card-content .product-detail {
    font-size: 14px;
    font-weight: 600;
    color: #8f8b8b;
    margin-top: 20px;
  }

  .main .container .card-content .product-title {
    font-size: 20px;
    font-weight: 700;
    color: #3a3939;
  }

  .main .container .card-content .product-desc {
    font-size: 12px;
    color: #bbb8b8;
    line-height: 18px;
  }

  .main .container .card-content a {
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #757070;
  }

  .main .container .card-content a .icon-more {
    width: 24px;
  }

  .clients {
    margin: 132px 33px;
  }

  .clients .header-clients {
    font-size: 20px;
    font-weight: 700;
    color: #3a3939;
    text-align: center;
  }

  .clients .sub-header-clients {
    font-size: 14px;
    color: #beb0b0;
    text-align: center;
  }

  .clients a {
    margin-top: 20px;
    display: block;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #757070;
    text-align: center;
  }

  .clients a img {
    width: 24px;
  }

  .contact {
    margin: 113px 33px;
  }

  .contact .container-fluid .row .info {
    border: 0.742515px solid #e4e4e4;
    box-sizing: border-box;
    box-shadow: 12.84px 11.4884px 18.2463px -4.73053px rgba(203, 202, 204, 0.47);
    border-radius: 7.42515px;
  }
  .contact .container-fluid .tell-us {
    letter-spacing: 0.03em;
    padding-top: 37px;
    padding-bottom: 30px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
  }

  .contact .container-fluid .info p {
    font-size: 14px;
    box-sizing: border-box;
    display: inline-block;
  }

  .contact .container-fluid .info p img {
    padding-right: 5px;
  }

  .contact .container-fluid .feedback {
    margin-top: 41px;
    padding: 0 0;
  }

  .contact .container-fluid .feedback h1 {
    letter-spacing: 0.03em;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
  }

  .contact .container-fluid .feedback textarea {
    width: 100%;
    height: 150px;
    margin-top: 25px;
  }

  .footer {
    background-color: #000000;
    margin-top: 94px;
  }

  .footer .container .nav-bottom {
    display: none;
  }

  .footer .container .row .privacyLicense {
    color: white;
    margin-top: 27px;
    padding: 0 18px;
  }

  .footer .container .row .privacyLicense .privacy {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.03em;
  }

  .footer .container .row .privacyLicense .license {
    width: 187px;
    margin-top: 36px;
    line-height: 18px;
    font-size: 12px;
    letter-spacing: 0.03em;
  }
}
/* .navbar {
    width: 100%;
  }
  .container-fluid {
    z-index: 4;
  }

  .navbar .container-nav .button-bar {
    float: left;
  }

  .navbar .navbar-collapse {
    position: absolute;
    background: rgba(241, 238, 238, 0.644);
    backdrop-filter: blur(17px);
    top: 48px;
    left: 0;
    width: 100%;
    z-index: -10;
    margin: 0;
    transition: all 0.5s ease;
  }

  .navbar .navbar-collapse:active {
    height: 100%;
  }

  .navbar ul .nav-item .nav-link {
    text-align: center;
    padding: 39.4px 0;
    font-weight: 600;
  }

  .navbar-brand img {
    display: none;
  }

  #carouselSlide {
    height: 223.68px;
    position: absolute;
    z-index: -100;
    padding: 0 0;
    top: 0px;
  } */

/* Mobile M */
@media (min-width: 375px) and (max-width: 425px) {
  .navbar {
  }
  .navbar .container .logo {
    display: none;
  }

  .navbar .navbar-nav .nav-link {
    padding: 30px 0;
    text-align: center;
    font-weight: 600;
  }
  .carousel-tablet {
    display: none;
  }
  .carousel-mobile .carousel-item .header {
    margin-top: -120px;
    margin-left: 15px;
    font-size: 12px;
    font-family: "Inter", sans-serif;
    color: #beb0b0;
  }
  .carousel-mobile .carousel-item .title {
    width: 150px;
    font-size: 18px;
    font-family: "Noto", serif;
    font-style: italic;
    font-weight: 600;
    color: #3a3939;
    margin-left: 15px;
  }
  .carousel-mobile .carousel-item .subheader {
    width: 250px;
    font-size: 12px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #beb0b0;
    margin-left: 15px;
  }

  .main {
    margin-top: 44px;
    padding: 0 53px;
    box-sizing: border-box;
  }
  .main .container .main-title-content-home {
    width: 80%;
    margin: auto;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    color: #3a3939;
  }

  .main .container .sub-title-content-home {
    font-size: 14px;
    text-align: center;
    color: #beb0b0;
  }

  .main .container .card-content {
    padding: 0 0;
    margin-top: 38px;
    box-sizing: border-box;
    overflow: hidden;
  }

  .main .container .card-content .row:nth-child(2) {
    padding: 67px 0;
    box-sizing: border-box;
  }

  .main .container .card-content .product-detail {
    font-size: 14px;
    font-weight: 600;
    color: #8f8b8b;
    margin-top: 20px;
  }

  .main .container .card-content .product-title {
    font-size: 20px;
    font-weight: 700;
    color: #3a3939;
  }

  .main .container .card-content .product-desc {
    font-size: 12px;
    color: #bbb8b8;
    line-height: 18px;
  }

  .main .container .card-content a {
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #757070;
  }

  .main .container .card-content a .icon-more {
    width: 24px;
  }

  .clients {
    margin: 132px 0;
    padding: 0 53px;
  }

  .clients .header-clients {
    font-size: 20px;
    font-weight: 700;
    color: #3a3939;
    text-align: center;
  }

  .clients .sub-header-clients {
    font-size: 14px;
    color: #beb0b0;
    text-align: center;
  }
  .clients .img-clients img {
    width: fit-content;
  }
  .clients a {
    margin-top: 20px;
    display: block;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #757070;
    text-align: center;
  }

  .clients a .icon.more {
    width: 24px;
  }

  .contact {
    margin: 113px 0;
    padding: 0 53px;
  }

  .contact .container-fluid .row .info {
    border: 0.742515px solid #e4e4e4;
    box-sizing: border-box;
    box-shadow: 12.84px 11.4884px 18.2463px -4.73053px rgba(203, 202, 204, 0.47);
    border-radius: 7.42515px;
  }
  .contact .container-fluid .tell-us {
    letter-spacing: 0.03em;
    padding-top: 37px;
    padding-bottom: 30px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
  }

  .contact .container-fluid .info p {
    font-size: 14px;
    box-sizing: border-box;
    display: inline-block;
  }

  .contact .container-fluid .info p img {
    padding-right: 5px;
  }

  .contact .container-fluid .feedback {
    margin-top: 41px;
    padding: 0 0;
  }

  .contact .container-fluid .feedback h1 {
    letter-spacing: 0.03em;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
  }

  .contact .container-fluid .feedback textarea {
    width: 100%;
    height: 150px;
    margin-top: 25px;
  }

  .footer {
    background-color: #000000;
    margin-top: 94px;
  }

  .footer .container .nav-bottom {
    display: none;
  }

  .footer .container .row .privacyLicense {
    color: white;
    margin-top: 27px;
    padding: 0 18px;
  }

  .footer .container .row .privacyLicense .privacy {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.03em;
  }

  .footer .container .row .privacyLicense .license {
    width: 187px;
    margin-top: 36px;
    line-height: 18px;
    font-size: 12px;
    letter-spacing: 0.03em;
  }
}

/* Mobile L */
@media (min-width: 425px) and (max-width: 768px) {
  .navbar {
  }
  .navbar .container-fluid .logo {
    display: none;
  }

  .navbar .navbar-nav .nav-link {
    padding: 30px 0;
    text-align: center;
    font-weight: 600;
  }
  .carousel-tablet {
    display: none;
  }
  .carousel-mobile .carousel-item .header {
    margin-top: -25%;
    margin-left: 15px;
    font-size: 12px;
    font-family: "Inter", sans-serif;
    color: #beb0b0;
  }
  .carousel-mobile .carousel-item .title {
    width: 150px;
    font-size: 18px;
    font-family: "Noto", serif;
    font-style: italic;
    font-weight: 600;
    color: #3a3939;
    margin-left: 15px;
  }
  .carousel-mobile .carousel-item .subheader {
    width: 250px;
    font-size: 12px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #beb0b0;
    margin-left: 15px;
  }

  .main {
    margin-top: 44px;
    padding: 0 20%;
    box-sizing: border-box;
  }
  .main .container .main-title-content-home {
    width: 80%;
    margin: auto;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    color: #3a3939;
  }

  .main .container .sub-title-content-home {
    font-size: 14px;
    text-align: center;
    color: #beb0b0;
  }

  .main .container .card-content {
    padding: 0 0;
    margin-top: 38px;
    box-sizing: border-box;
    overflow: hidden;
  }

  .main .container .card-content .row:nth-child(2) {
    padding: 67px 0;
    box-sizing: border-box;
  }

  .main .container .card-content .product-detail {
    font-size: 14px;
    font-weight: 600;
    color: #8f8b8b;
    margin-top: 20px;
  }

  .main .container .card-content .product-title {
    font-size: 20px;
    font-weight: 700;
    color: #3a3939;
  }

  .main .container .card-content .product-desc {
    font-size: 12px;
    color: #bbb8b8;
    line-height: 18px;
  }

  .main .container .card-content a {
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #757070;
  }

  .main .container .card-content a .icon-more {
    width: 24px;
  }

  .clients {
    margin: 132px 0;
    padding: 0 20%;
  }

  .clients .header-clients {
    font-size: 20px;
    font-weight: 700;
    color: #3a3939;
    text-align: center;
  }

  .clients .sub-header-clients {
    font-size: 14px;
    color: #beb0b0;
    text-align: center;
  }
  .clients .img-clients {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    flex-wrap: wrap;
  }
  .clients a {
    margin-top: 20px;
    display: block;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #757070;
    text-align: center;
  }

  .clients a .icon-more {
    width: 24px;
  }

  .contact {
    margin: 113px 0;
    padding: 0 53px;
  }

  .contact .container-fluid .row .info {
    border: 0.742515px solid #e4e4e4;
    box-sizing: border-box;
    box-shadow: 12.84px 11.4884px 18.2463px -4.73053px rgba(203, 202, 204, 0.47);
    border-radius: 7.42515px;
  }
  .contact .container-fluid .tell-us {
    letter-spacing: 0.03em;
    padding-top: 37px;
    padding-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }

  .contact .container-fluid .info p {
    font-size: 14px;
    margin: 0 15px 16px;
    padding: 0 5%;
    box-sizing: border-box;
    display: inline-block;
  }

  .contact .container-fluid .info p img {
    padding-right: 5px;
  }

  .contact .container-fluid .feedback {
    margin-top: 41px;
    padding: 0 0;
  }

  .contact .container-fluid .feedback h1 {
    letter-spacing: 0.03em;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
  }

  .contact .container-fluid .feedback textarea {
    width: 100%;
    height: 150px;
    margin-top: 25px;
  }

  .footer {
    background-color: #000000;
    margin-top: 94px;
  }

  .footer .container .nav-bottom {
    display: none;
  }

  .footer .container .row .privacyLicense {
    color: white;
    margin-top: 27px;
    padding: 0 18px;
  }

  .footer .container .row .privacyLicense .privacy {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.03em;
  }

  .footer .container .row .privacyLicense .license {
    width: 187px;
    margin-top: 36px;
    line-height: 18px;
    font-size: 12px;
    letter-spacing: 0.03em;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .navbar {
  }
  .navbar .container .logo {
  }

  .navbar .navbar-nav .nav-link {
    padding: 30px 15px;
    text-align: center;
    font-weight: 600;
  }

  .carousel-tablet {
    display: none;
  }

  .carousel-mobile .carousel-item .header {
    position: relative;
    z-index: 12;
    bottom: 250px;
    margin-left: 5%;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    color: #beb0b0;
  }
  .carousel-mobile .carousel-item .title {
    position: relative;
    bottom: 250px;
    width: 250px;
    font-size: 30px;
    font-family: "Noto", serif;
    font-style: italic;
    font-weight: 700;
    color: #3a3939;
    margin-left: 5%;
  }
  .carousel-mobile .carousel-item .subheader {
    position: relative;
    bottom: 250px;
    width: 250px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #beb0b0;
    margin-left: 5%;
  }

  .main {
    margin-top: 44px;
    padding: 0 20%;
    box-sizing: border-box;
  }
  .main .container .main-title-content-home {
    width: 80%;
    margin: auto;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    color: #3a3939;
  }

  .main .container .sub-title-content-home {
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    color: #beb0b0;
  }

  .main .container .card-content {
    padding: 0 0;
    margin-top: 38px;
    box-sizing: border-box;
    overflow: hidden;
  }

  .main .container .card-content .card-content-home img {
    width: 100%;
    height: 50%;
  }

  .main .container .card-content .row:nth-child(2) {
    padding: 67px 0;
    box-sizing: border-box;
  }

  .main .container .card-content .product-detail {
    font-size: 16px;
    font-weight: 600;
    color: #8f8b8b;
    margin-top: 20px;
  }

  .main .container .card-content .product-title {
    font-size: 30px;
    font-weight: 700;
    color: #3a3939;
  }

  .main .container .card-content .product-desc {
    font-size: 14px;
    color: #bbb8b8;
    line-height: 18px;
  }

  .main .container .card-content a {
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #757070;
  }

  .main .container .card-content a .icon-more {
    width: 24px;
    height: 15px;
  }

  .clients {
    margin: 0px 0;
    padding: 0 20%;
  }

  .clients .header-clients {
    font-size: 30px;
    font-weight: 700;
    color: #3a3939;
    text-align: center;
  }

  .clients .sub-header-clients {
    font-size: 16px;
    color: #beb0b0;
    text-align: center;
  }
  .clients .img-clients {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .clients .img-clients img {
    width: 200px;
  }
  .clients a {
    margin-top: 20px;
    display: block;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #757070;
    text-align: center;
  }

  .clients a .icon-more {
    width: 24px;
  }

  .contact {
    margin: 113px 0;
    padding: 0 153px;
  }

  .contact .container-fluid .row {
    display: flex;
  }
  .contact .container-fluid .row .info {
    min-width: 100%;
    border: 0.742515px solid #e4e4e4;
    box-sizing: border-box;
    box-shadow: 12.84px 11.4884px 18.2463px -4.73053px rgba(203, 202, 204, 0.47);
    border-radius: 7.42515px;
  }

  .contact .container-fluid .tell-us {
    letter-spacing: 0.03em;
    padding-top: 37px;
    padding-bottom: 30px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }

  .contact .container-fluid .info p {
    margin: 0px 25px 16px;
    font-size: 20px;
    padding-right: 10px;
    box-sizing: border-box;
    display: inline-block;
  }
  .contact .container-fluid .info p:nth-child(2) {
    padding-right: 5%;
  }

  .contact .container-fluid .info p img {
    padding-right: 10px;
  }

  .contact .container-fluid .feedback {
    margin-top: 41px;
    padding: 0 0;
  }

  .contact .container-fluid .feedback h1 {
    letter-spacing: 0.03em;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }

  .contact .container-fluid .feedback textarea {
    width: 80%;
    margin-left: 10%;
    height: 150px;
    margin-top: 25px;
  }

  .footer {
    background-color: #000000;
    margin-top: 94px;
  }

  .footer .container .nav-bottom {
    display: none;
  }

  .footer .container .row .privacyLicense {
    color: white;
    margin-top: 27px;
    padding: 0 18px;
  }

  .footer .container .row .privacyLicense .privacy {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.03em;
  }

  .footer .container .row .privacyLicense .license {
    width: 50%;
    margin-top: 36px;
    line-height: 18px;
    font-size: 14px;
    letter-spacing: 0.03em;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  nav {
    position: relative;
    z-index: 13;
    height: 80px;
  }

  .navbar .collapse ul {
    position: absolute;
    right: 10%;
  }
  .navbar .collapse ul li {
    padding-right: 48px;
  }

  .carousel-mobile {
    display: none;
  }

  .carousel-tablet .carousel-item {
    max-width: 100%;
    max-height: 720px;
  }
  .carousel-tablet .carousel-item img {
    height: 709px;
  }

  .carousel-tablet .carousel-item .header {
    position: relative;
    bottom: 420px;
    margin-left: 74px;
    font-size: 20px;
    font-weight: 600;
    color: #beb0b0;
  }

  .carousel-tablet .carousel-item .title {
    width: 420px;
    position: relative;
    bottom: 420px;
    margin-left: 74px;
    font-size: 50px;
    font-weight: 800;
    font-family: "Noto", serif;
    font-style: italic;
    color: #3a3939;
  }
  .carousel-tablet .carousel-item .subheader {
    position: relative;
    bottom: 420px;
    margin-left: 74px;
    font-size: 20px;
    font-weight: 600;
    color: #beb0b0;
  }

  .carousel-tablet .carousel-item .view-more-button {
    position: relative;
    bottom: 380px;
    margin-left: 74px;
    background-color: #928f8f;
    padding: 15px 24px;
    border-radius: 26px;
    margin-top: 53px;
    font-size: 18px;
    color: white;
    text-decoration: none;
  }

  .main {
    margin-top: 140px;
    padding: 0 80px;
  }

  .main .container .row .main-title-content-home {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    color: #3a3939;
  }

  .main .container .row .sub-title-content-home {
    margin: 20px auto 67px;
    width: 366px;
    font-size: 22px;
    text-align: center;
    color: #beb0b0;
  }

  .main .container .row .card-content-home {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
  }

  .main .container .row .card-content-home .content-home {
    width: 50%;
    border: 1px solid rgba(217, 214, 214, 0.54);
    box-sizing: border-box;
    /* light */

    box-shadow: 17.2926px 15.4723px 24.5737px -6.37095px rgba(203, 202, 204, 0.47);
    border-radius: 6px;
  }

  .main .container .row .card-content-home .product-info {
    margin: 47px;
  }

  .main .container .row .card-content-home .product-info .product-detail {
    font-size: 22px;
    font-weight: 600;
    color: #8f8b8b;
  }

  .main .container .row .card-content-home .product-info .product-title {
    margin-top: 10px;
    font-size: 35px;
    font-weight: 700;
    color: #3a3939;
  }

  .main .container .row .card-content-home .product-info .product-desc {
    margin-top: 15px;
    font-size: 18px;
    color: #bbb8b8;
    line-height: 28px;
  }

  .main .container .row .card-content-home .product-info a {
    width: 5px;
    height: 15px;
    margin-top: 40px;
    font-size: 18px;
    color: #757070;
    text-decoration: none;
    transition: 0.5s;
  }

  .main .container .row .card-content-home .product-info a:hover {
    margin: 10px;
    box-sizing: border-box;
    color: #757070;
    box-shadow: 17.2926px 15.4723px 24.5737px -6.37095px rgba(142, 142, 143, 0.705);
  }

  .main .container .row .card-content-home .product-info a .icon-more {
    width: 5%;
  }

  .clients {
    margin-top: 140px;
    padding: 0 80px;
  }

  .clients .header-clients {
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    color: #3a3939;
  }

  .clients .sub-header-clients {
    width: 648px;
    margin: 20px auto 40px;
    text-align: center;
    font-size: 22px;
    color: #beb0b0;
  }

  .clients .img-clients {
    margin: 0 auto 36px;
    display: flex;
    justify-content: space-around;
  }

  .clients a {
    margin-top: 20px;
    display: block;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: #757070;
    text-align: center;
  }

  .clients a .icon-more {
    width: 2%;
  }

  .contact {
    margin-top: 140px;
    padding: 0 80px;
  }

  .contact .container-fluid .row .info {
    display: flex;
    padding: 0 80px;
    flex-direction: column;
    max-width: 45%;
    margin-right: 30px;
    border: 0.742515px solid #e4e4e4;
    box-sizing: border-box;
    box-shadow: 12.84px 11.4884px 18.2463px -4.73053px rgba(203, 202, 204, 0.47);
    border-radius: 7.42515px;
  }
  .contact .container-fluid .tell-us {
    letter-spacing: 0.03em;
    padding-top: 37px;
    padding-bottom: 30px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }

  .contact .container-fluid .info p {
    font-size: 18px;
    box-sizing: border-box;
    display: inline-block;
  }

  .contact .container-fluid .info p img {
    padding-right: 5px;
  }

  .contact .container-fluid .feedback {
    margin-top: 41px;
    padding: 0 0;
  }

  .contact .container-fluid .feedback h1 {
    letter-spacing: 0.03em;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }

  .contact .container-fluid .feedback textarea {
    width: 100%;
    height: 150px;
    margin-top: 25px;
  }

  .footer {
    background-color: #000000;
    margin-top: 94px;
  }

  .footer .container .nav-bottom {
    margin-top: 27px;
    padding: 0 18px;
  }

  .footer .container .nav-bottom ul {
    margin-left: 20%;
  }

  .footer .container .nav-bottom ul li {
    display: inline;
    padding-right: 32px;
  }
  .footer .container .nav-bottom ul li a {
    text-decoration: none;
    color: white;
  }

  .footer .container .row .privacyLicense {
    color: white;
    margin-top: 27px;
    padding: 0 18px;
  }

  .footer .container .row .privacyLicense .privacy {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.03em;
  }

  .footer .container .row .privacyLicense .license {
    width: 50%;
    margin-top: 36px;
    line-height: 18px;
    font-size: 14px;
    letter-spacing: 0.03em;
  }

  /* 
.carousel-tablet .carousel-item .box-info {
  width: 50%;
  position: relative;
  top: -55vh;
  bottom: 55vh;
  margin-left: 74px;
}



.carousel-tablet .carousel-item .title {
  font-size: 50px;
  font-weight: 800;
  font-family: "Noto", serif;
  font-style: italic;
  color: #3a3939;
} */
}
